/*
Though we applied font-family to entire body this will not take effect as we applied font to individual section of 
html elements*/
body{
    font-family: Arial, Helvetica, sans-serif;
} 

#fontOne {
    font-family: 'Courier New', Courier, monospace;
}

#fontTwo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#fontThree{
   
    font-family: 'Akaya Telivigala', cursive;


}
