*{
    color: blue; /*This is universal tag ; this means all the text which is present in the page will change the color to blue*/
}
header{
    background-color: #f0ebeb;
}
section.my-article{
    background-color: #f2e9e9;
}

header p{
    color: red; /*All the paragraphs under header will change their color to red*/
}
li a{
    color: green; /*All the anchor tags inside list elements will change their color to green*/
}

section.my-article >h2 {
    color:rgb(209, 101, 119) /*The secton tag which has a class name as "my-article" and the immediate h2 tag will only change the color*/
}
h2+p{
    color :gray /*A paragraph which is immediate to h2 will change the color to gray*/
}
h2+p+p{
    color : rgb(81, 155, 216) /* After h2 the second paragraph will change the color to green */
}

section.my-article-1 h2+p{
    background-color: #f0ebeb;
    color: violet;
}