input[id="inputOne"]{
    color: red;
    background-color: gainsboro;
    border-radius: 4px;
    padding: 4px;
}

input[id="inputOne"]{
    color: red;
    background-color: gainsboro;
    border-radius: 4px;
    padding: 4px;
}
input[type=text]:focus {
 
    border: 3px solid #888;
  }